<div class="container d-flex justify-content-center my-5 py-5">
  <div class="card text-bg-light rounded-4">
    <div class="py-2", style="color: white"><h2>Update a service</h2></div>
    <%= render "form" %>
  </div>
</div>
