.pet-new {
  background: radial-gradient(circle at 0% 10%, rgb(244, 127, 46), rgb(252, 103, 28));
}

.pet-new div {
  border-radius: 30px!important;
}

.pet-button {
  background-color: rgb(255, 135, 37);
  color: white;
  border-radius: 5px;
  border: 0cap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  //box-shadow: 0 6px 10px 0 rgba(0,0,0,0.18);
}

.pet-button:hover {
  background-color: rgb(202, 101, 16);
  transition: 0.7s;
}

.pet-img {
  width: 100%;
  align-content: center;
  border-radius: 10px;
}

.pet-show {
  width: 100%;
  border-radius: 10px;
  align-content: center;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
}

.pet-show:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-5px);
}

.logo {
  width: 150px;
}

.pls {
  padding-top: 34px;
  color:white;
}

.nav-pet {
  color:rgb(255, 135, 37);
}

.pet-edit {
  color: white;
}

.pet-card {
  border: none;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.pet-card:hover {
  transform: translateY(-10px);
}

#breed {
  padding-left: 15px;
}

.pet-delete {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.pet-delete:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.pet-delete:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.pet-delete:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: rgb(255, 135, 37);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.pet-delete:hover {
  color: #ffffff;
  border: 1px solid rgb(255, 135, 37);
}

.pet-delete:hover:before {
  top: -35%;
  background-color: rgb(255, 135, 37);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.pet-delete:hover:after {
  top: -45%;
  background-color: rgb(255, 135, 37);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.form-text {
  color:#090909;
}
.form4 {
  border-radius: 40px;
  background-color: #F8F9FA;
  transform: translateY(-105px);
  box-shadow: rgba(45, 35, 66, 0.2) 0 -2px 4px
}
.form5 {
  border-radius: 40px;
  background-color: #F8F9FA;
  transform: translateY(-190px);
  box-shadow: rgba(45, 35, 66, 0.2) 0 -2px 4px;
  z-index: 1;
}
