.vet-profile-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;

  .vet-header {
    img.vet-image {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      object-fit: cover;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      margin: auto;
    }
    .vet-info {
      h2 {
        margin-top: 20px;
        margin-bottom: 5px;
        color: $dark-gray;
      }

      p {
        margin: 0;
        color: $dark-gray;
      }
    }
  }

  .info-card {
    border: 1px dashed #807f7f;
    border-radius: 15px;
    background-color: $light-gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 10px;
    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        margin: 7px;
      }
    }
  }

  .about {
    margin-top: 20px;
    strong {
      display: block;
      margin-bottom: 10px;
      color: $dark-gray;
    }
    p.text-muted {
      font-size: 1rem;
      line-height: 1.6;
      color: $dark-gray;
      a {
        font-weight: bold;
        color: $orange;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .vet-services {
    margin-top: 30px;

    h3 {
      font-size: 1.8rem;
      color: $dark-gray;
      border-bottom: 1px solid $light-blue;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    .services-scroll {
      display: flex;
      overflow-x: auto;
      gap: 16px;
      padding: 10px;
      scroll-snap-type: x mandatory;
    }

    .service-list {
      background-color: $light-gray;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex: 0 0 auto;
      scroll-snap-align: start;
      width: 250px;
      height: 150px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      h4 {
        font-size: 1.2rem;
        margin-bottom: 10px;
        color: $dark-gray;
      }

      p {
        margin-bottom: 5px;
        color: $dark-gray;
      }

      a {
        color: $orange;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.services-section {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .cards {
    display: flex;
    overflow-x: auto;
    gap: 16px;
  }

  a {
    height: 150px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;

  .card-category {
    color: white;
    font-weight: bold;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(10px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
}

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }

    .card-category {
      font-size: 15px;
      height: 100px;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
