<div class="d-flex justify-content-between mx-4">
  <h1 class="pt-3">Pets</h1>
  <%= link_to '', new_pet_path, class: "pls fa-solid fa-circle-plus fa-xl text-decoration-none" %>
</div>

<div class="container">
  <div class="row">
    <% @pets.each do |pet| %>
    <div class="col-6">
      <div class="card my-2 shadow">
        <img src="https://c0.wallpaperflare.com/preview/500/556/924/doberman-dog-beauty-nature.jpg" class="card-img-top petimg" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= pet.name %></h5>
          <p class="card-text"><%= pet.breed %></p>
          <%= link_to "Details", pet_path(pet), class: "petbutton text-decoration-none" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
