<nav class="navbar-bottom">
  <%= link_to "", class: 'nav-link-bottom' do %>
    <i class="fas fa-home"></i>
    <span class="nav-text-bottom">Home</span>
  <% end %>

  <a href="#" class="nav-link-bottom">
    <i class="fas fa-search"></i>
    <span class="nav-text-bottom">Search</span>
  </a>

  <%= link_to "", class: 'nav-link-bottom' do %>
    <i class="fa-solid fa-paw"></i>
    <span class="nav-text-bottom">Pets</span>
  <% end %>

  <%= link_to "", class: 'nav-link-bottom' do %>
    <i class="fas fa-user"></i>
    <span class="nav-text-bottom">Profile</span>
  <% end %>
</nav>
