<div class="banner">
  <h1 class="text-center">The app supported with AI that helps you take care of your pets.</h1>
  <p class="text-start">Select an option and join our comunity to give our furry friends the best.</p>
  <div class="box">
    <div class="btn"><%= link_to "Pet Owner", pets_path(@pets), class: "orange-btn" %></div>
    <div class="btn"><%= link_to "Veterinary", pets_path(@pets), class: "orange-btn" %></div>
  </div>
</div>
