<div class="banner">
  <div class="logo"><%= image_tag("carepet-logo.png") %></div>
  <p>Get started!</p>

  <div class="btn-box">
    <%= link_to "Pet Owner", dashboard_path, class: "orange-btn" %>
    <%= link_to "Veterinary", dashboard_path, class: "orange-btn" %>
  </div>
