.orange-btn {
  background-color: rgb(255, 135, 37);
  color: white;
  border-radius: 5px;
  border: 0cap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.orange-btn:hover {
  background-color: rgb(202, 101, 16);
  transition: 0.7s;
}

.btn-search {
  margin-top: 20px;
  margin-left: 10px; // Añadir un pequeño espacio entre el campo de búsqueda y el botón
  background-color: transparent;
  border: none;
  color: $orange;
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    color: darken($orange, 10%);
  }
}
