.simple-calendar {
  table {
    min-height: 60vh;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  th, td {
    width: 14.28%;
    padding: 10px;
    border: 1px solid $orange;
    text-align: center;
    vertical-align: top;
    background-color: #f9f9f9;
  }
  th {
    background-color: #f7f7f7;
    font-weight: bold;
  }
  .today {
    background-color: #FAF3DD;
  }
}

// .available {
//   color: rgb(86, 171, 86);
//   font-size: 1rem;
// }

.unavailable {
  color: rgb(193, 113, 0);
  font-size: 1rem;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .btn {
    margin: 0 5px;
  }
}
