.simple-calendar {
  width: 100%;
  border: none;
  overflow: hidden;

  .table, .table-striped {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-spacing: 5px;
    border: none;
    table-layout: fixed;
  }

  td {
    width: 14.28%;
    text-align: center;
    vertical-align: top;
    padding: 15px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
  }

  th {
    border: none;
    padding: 5px;
    text-transform: lowercase;
    letter-spacing: -0.5px;
    color: rgba(118, 116, 116, 0.763);
    font-weight: 1px;
    text-align: center;
  }

  td:hover {
    background-color: #f7e3d1;
  }

  .today {
    background-color: #e1dbd3;
    border: 1px solid darken($orange, 10%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }

  .has-events {
    background: linear-gradient(to right, $orange, #f07735) !important;
    color: white;
    font-weight: bold;
    position: relative;
  }

  .has-events::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: $orange;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.unavailable {
  color: white;
  font-size: 1rem;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 5px 0;
}
