.specialist-card {
  display: flex;
  align-items: center;
  padding: 13px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .specialist-info {
    h3 {
      margin: 0;
      font-size: 18px;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #666;
    }

    .rating-distance {
      margin-top: 5px;
      span {
        display: inline-block;
        margin-right: 10px;
        font-size: 14px;
      }
    }
  }

  &:hover {
    background-color: #f0f0f0;
  }
}


.search-results-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  .service-result {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid $orange;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service-result:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .service-result h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .service-result p {
    margin-bottom: 10px;
  }

  .service-result strong {
    font-weight: bold;
    margin-right: 5px;
  }
}

.meal-card-0,
.meal-card-1,
.meal-card-2 {
  margin: 10px auto;
  padding: 30px;
  border: none;
  border-radius: 20px;
}

 .meal-card-0 {
  background-color: #FFF5EC;
 }

 .meal-card-1 {
  background-color: #C5DDDA;
 }

 .meal-card-2 {
  background-color: rgba(0, 0, 255, 0.1);
 }

 .details-card {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  align-items: center;
 }

.details-card i {
font-size: 1em;
padding: 10px;
margin-bottom: 10px;
background-color: rgba(0, 0, 0, 0.1);
border-radius: 50%;
}

.food-items {
  width: 38%;
 }

 .notes {
  width: 38%;
  margin: 0 10px;
 }

.calories {
  width: 24%;
}

.training-card {
  background-color: #FFF5EC;
  margin: 10px auto;
  padding: 30px;
  border: none;
  border-radius: 20px;
}

.nutrition {
  width: 38%;
 }


 .duration {
  width: 38%;
  margin: 0 10px;
 }

.calories-burned {
  width: 24%;
}


@media (max-width: 576px) {

  .details-cards {
     flex-direction: column;
   }

   .details-card {
     width: 100%;
     margin: 10px 0;
   }

   .meal-card-0,
   .meal-card-1,
   .meal-card-2 {
     width: 105%;
   }
 }

 .reminder-card {
  background: radial-gradient(circle at 0% 10%, rgb(244, 127, 46), rgb(252, 103, 28));
  color: white;
  margin: 10px auto;
  padding: 30px;
  border: none;
  border-radius: 20px;

  i {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: $orange;
    border-radius: 50%;
  }
 }
