.footer {
  background-color: $orange;
  padding-top: 2px;
  height: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #b75104;
  display: flex;
  justify-content: center;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.footer .footer-item {
  margin: 0 5px;
}

.footer .social-icons {
  display: flex;
  gap: 8px;
}

.footer .social-icons a {
  color:#b75104;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: white;
}

.footer .social-icons i {
  font-size: 1rem;
}

.footer .copyright-text {
  font-size: 0.6rem;
}
