.footer {
  background-color:#9e9e9e;
  padding-top: 2px;
  height: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(195, 195, 195);
  display: flex;
  justify-content: center;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}

.footer .footer-item {
  margin: 0 5px;
}

.footer .social-icons {
  display: flex;
  gap: 5px;
}

.footer .social-icons a {
  color:rgb(195, 195, 195);
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: $orange;
}

.footer .social-icons i {
  font-size: 1rem;
}

.footer .copyright-text {
  font-size: 0.6rem;
}
