.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.nav-link-bottom {
  color: rgb(167, 159, 159);
  text-decoration: none;
  text-align: center;
  flex: 1;

  &:hover {
    color: $orange;
  }
}

// .nav-link-bottom:hover {
//   background-color: #c25a1f;
//   border-radius: 22px;
// }

.nav-link-bottom i {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;

  &:hover {
    color: $orange;
  }
}

.nav-text-bottom {
  font-size: 14px;
}

/* Responsive Design */
@media (min-width: 600px) {
  .navbar-bottom {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}
