.petnew{
  background: radial-gradient(circle at 10% 20%, rgb(255, 131, 61) 0%, rgb(249, 183, 23) 90%);
}
.petbutton {
  background-color: rgb(255, 135, 37);
  color: white;
  border-radius: 5px;
  border: 0cap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  //box-shadow: 0 6px 10px 0 rgba(0,0,0,0.18);
}
.petbutton:hover {
  background-color: rgb(202, 101, 16);
  transition: 0.7s;
}

.petimg {
  max-height: 200px;
}

.back {
  color:rgb(255, 135, 37)
}
.pls {
  padding-top: 34px;
  color:rgb(255, 135, 37)
}
