.paw {
  position: relative;
  margin: auto auto;
  width: 400px;
  height: 400px;
  margin-top: 30px;
}

.pad {
  position: absolute;
  left: 25%;
  top: 15%;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.toe {
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FE8D36;
  box-shadow: 0 0 15px #FE8D36;
}

.toe:hover {
  background-color: #d46d1f;
  transition: background-color 0.3s ease;
}

.pad-img {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  border: 3px solid #FE8D36;
  box-shadow: 0 0 15px #FE8D36;
  object-fit: cover;
}

.pad-img:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.paw-icon {
  margin-top: 10px;
  font-size: 200%;
  color: white;
}

.toe-1 {
  /* transform: translateX(-50px) translateY(-80px); */
  transform: translateX(-70%) translateY(240%);
  /* outline-offset: -10px; */
}

.toe-2 {
  transform: translateX(75%) translateY(280%);
}

.toe-3 {
  transform: translateX(220%) translateY(240%);
}

.pet-data {
  width: 100%;
  text-align: center;
}

.empty-pad {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FE8D36;
  border: 3px solid #FE8D36;
  box-shadow: 0 0 15px #FE8D36;
}

.empty-pad:hover {
  background-color: #d46d1f;
  transition: background-color 0.3s ease;
}
