<div class="appointments-section">
  <div class="swiper-container dashboard py-3 px-3" style="margin-top:-40px; background: white; border-radius: 30px">
    <h2 class="section-title"><%= title %></h2>
    <div class="appointments-grid">
      <% appointments.each do |appointment| %>
        <%= render 'appointment_card', appointment: appointment %>
      <% end %>
    </div>
  </div>
</div>
