<%= month_calendar(events: @appointments, attribute: :datetime, end_attribute: :end_time) do |date, appointments| %>
  <div class="day <%= 'today' if date == Date.today %>">
    <%= date %>
    <% unless appointments.empty? %>
      <div class="unavailable">
        <i class="fas fa-paw mt-2"></i>
      </div>
    <% end %>
  </div>
<% end %>
