<%= month_calendar(events: @appointments, attribute: :datetime) do |date, appointments| %>
  <div class="day">
    <%= date %>
    <% unless appointments.empty? %>
      <div class="unavailable">
        <i class="fas fa-paw mt-2"></i>
      </div>
    <% end %>
  </div>
<% end %>
