<%= turbo_stream.replace dom_id(@appointment) do %>
  <div class="datetime-appointment">
    <p class="appointment-date">
      <i class="fas fa-calendar-alt" style="color: #FE8D36;"></i>
      <%= @appointment.datetime.strftime("%m.%d.%Y") %>
    </p>
    <p class="appointment-time">
      <i class="far fa-clock" style="color: #FE8D36; margin-left: 8px;"></i>
      <%= @appointment.datetime.strftime("%H:%M") %>
    </p>
  </div>
<% end %>
